/* --------------fab icon colors */
.fab.fa-html5 {
    color: #E34F26;
}

.fab.fa-css3-alt {
    color: #003585;
}

.fab.fa-js-square {
    color: #f7df1e;
}

.fab.fa-git {
    color: #fc6d26;
}

.fab.fa-linkedin {
    color: #0077b5;
}

.fab.fa-react {
    color: #00d8ff;
}

.fab.fa-node-js {
    color: #6cc24a;
}

.fab.fa-bootstrap {
    color: #6039a8;
}

/* -------------------Home Page Skills Icons */
#icons {
    text-align: center;
    padding-top: 10px;
}

.iconImg {
    padding: 8px;
    margin: 0px;
}

.fab {
    font-size: 50px;
    padding: 10px;
}

.fas {
    font-size: 45px;
    padding: 10px;
}

/* ------------------------Project/Portfolio Icons */
#smIcon {
    font-size: 25px;
    padding: 5px;
    margin-top: 4px;
    background-color: #e6ecf5;
}

.smIconImg {
    padding: 5px;
    margin-bottom: 11px;
    background-color: #e6ecf5;
}

/* ------------------------Footer Icons */
.iconFoot {
    margin-bottom: 17px;
    padding: 2px 15px;
}

.far.fa-file {
    font-size: 35px;
    padding: 2px 15px;
}

.footercontact {
    margin-top: -20px;
}

@media only screen and (max-width: 770px){
    .fab {
        font-size: 25px;
    }
    .fas {
        font-size: 22px;
    }
    .iconImg {
        height: 35px;
        width: 35px;
        padding: 5px;
    }
    .imgIcons {
        padding-bottom: 10px;
    }
}