h1 {
    color: rebeccapurple;
}

.card {
    margin: auto;
}

img {
    padding: 20px;
}

.jumbotron {
    margin-bottom: -25px;
}

h2 {
    padding-top: 60px;
}

pre {
    text-align: center;
    font-family: monospace;
}