/* font-family: 'Arizonia', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Qwigley', cursive;
font-family: 'Sail', cursive; */

.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 40px;
    text-shadow: 0px 0px 5px #1e68d6, 0px 0px 5px #003585;
}

.navbar-nav {
    /* color: white; */
    text-shadow: 0px 0px 2px #1e68d6, 0px 0px 2px #003585;
}

h1 {
    color: rebeccapurple;
    font-family: 'Courgette', cursive;

}

.card {
    margin: auto;
}

img {
    padding: 20px;
}

.jumbotron {
    margin-bottom: -25px;
}

h2 {
    padding-top: 60px;
}

pre {
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: white;
}

#target {
    background: #0464f5fa;
    transition: 0.2s;
}
#target:hover {
    animation: change-color 0.2s forwards;
}
@keyframes change-color {
    to {
        background: red;
    }
}