/* font-family: 'Arizonia', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Qwigley', cursive;
font-family: 'Sail', cursive; */

/* ---------------------Navbar */
.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 40px;
    text-shadow: 0px 0px 5px #1e68d6, 0px 0px 5px #003585;
}

.navbar {
    padding: 0px 16px;
}

.navbar-nav {
    /* color: white; */
    text-shadow: 0px 0px 2px #1e68d6, 0px 0px 2px #003585;
}

/* -----------------------Jumbotron */
.jumbotron {
    margin-bottom: -25px;
    padding: 40px;
    /* background-image: radial-gradient(#e9ecf1, #96929c, #36373a); */
    background-image: radial-gradient(#dbe7fa, #b7cffa, #201733);
    font-family: 'Courgette', cursive;
}


/* #date { */
    /* color: #353BBD; */
    /* text-shadow: 0px 0px 1px #1e68d6; */
    /* font-family: 'Courgette', cursive; */
/* } */

h1 {
    color: #460785;
    font-family: 'Courgette', cursive;
}

h2 {
    padding-top: 60px;
}

/* ----------------------Hire Banner */
pre {
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    /* color: white; */
    color: #353BBD;
    margin-top: 1rem;
}

#target {
    background: #56BD2B;
    transition: 0.2s;
}
#target:hover {
    animation: change-color 0.2s forwards;
}
@keyframes change-color {
    to {
        background: red;
    }
}

/* -------------------Portfolio */
#grad {
    /* background-image: radial-gradient(#b2bed1, #95a9c9, #333436); */
    background-image: linear-gradient(to bottom right, #212a3d, #a8c5f7);
}

/* ---------------------Images */
img {
    margin-bottom: 16px;
    padding: 20px;
}

.card-img-top {
    background-color: #393941;
    /* border: 5px solid #212a3d; */
}

#cardImg {
    background-color: #212a3d;
    border: 5px solid #212a3d;
}

/* ----------------------Cards */
.card {
    background-color: #dbe7fa;
    border: 2px solid #393941;
}

